#banners .carousel-indicators li {
    width: 15%;
    height: 1px;
    padding: 0%;
    z-index: 9999;
    background: white;
    margin-bottom: 14%;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}


#first-banner{
opacity : 0;
transition: opacity 0.8s ease;
-moz-transition: opacity 0.8s ease;
-webkit-transition: opacity 0.8s ease;
}
.banner_pic {
background-size:cover;
background-repeat:no-repeat;
background-position:center;
width:100%;
height:100%;
z-index:9980;
}

#banners .carousel-indicators {
position:absolute;
transform:translate(0%,50%);
top:92%;
width:15%!important;
height:0px!important;
display:inline-flex;
margin-right:0;
margin-left:41.5%;
margin-bottom:22%;
}
#banner-title {
margin: auto 5%;
height: 100%;
width: 600px;
margin-top: 180px;
display: flex;
flex-direction: column;
align-items: start;
justify-content: center;
}

#banner-title h3 {
margin:0 !important;
font-family: serif;
font-style: italic;
font-size:315%;
font-weight:bolder;
}

@media (max-width: 700px) {

#banners .carousel-indicators {
position:absolute;
transform:translate(0%,50%);
top:20%;
width:5%!important;
height:5%!important;
display:block;
margin-right:0;
margin-left:95%;
margin-bottom:22%;
}
#banner-title {
margin: auto 10%;
height: 100%;
width: 300px;
margin-top: 100px;
display: flex;
flex-direction: column;
align-items: start;
justify-content: center;
margin-top:22% !important;
}

#banner-title h3 {
margin:0 !important;
font-family: serif;
font-style: italic;
font-size:165%;
font-weight:bolder;
}

}


#banner-title p {
width:40%;
color:#fff;
font-size:180%;
}

#banner-title button {
background:transparent;
color:#fff;
border:none;
position:relative;
font-size:120%;
}

#banner-title button:hover {
color:white;
}

.arrow-right {
visibility:hidden;
font-size:100%;
font-weight:200;
}

#banner-title button:hover .arrow-right {
visibility:visible;
color:#f30;
}

#banner-title button:after {
position:absolute;
content:"";
display:block;
background:#f30;
height:4%;
width:0;
transform:scaleX(0);
padding-top:0;
transition:transform .3s linear;
transform-origin:left;
}

#banner-title button:hover:after {
width:100%;
height:4%;
transform:scaleX(1);
transform-origin:left;
}
